version: '3'

services:
  frontend:
    container_name: frontend
    build: docker/nuxt
    volumes:
      - ./frontend:/app/:cached
      - nuxt_node_modules:/app/node_modules
    ports:
      - "80:3000"
      - 24678:24678 # HMR用のポートを追加
    tty: true
    environment:
      - HOST=0.0.0.0
      - port=80
      - CHOKIDAR_USEPOLLING=true
volumes:
  nuxt_node_modules: